<!DOCTYPE html>
<html>
    <head>
            <title>About</title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="content">
                {{>header}}
                <p>This site was created by <strong>Shikhar Rastogi</strong>. It uses data from <a class="link" href="mapbox.com">mapbox</a> and <a class="link" href="darksky.net">darksky</a></p>
                {{!-- <h3>Created by {{name}}</h3> --}}
            </div>
                {{>footer}}
        </body>
    </head>
</html>