<!DOCTYPE html>
<html>

<head>
    <title>Weather-App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <div class="content">
        {{>header}}                            <!--this is hbs syntax-->
        <p class="quote">Use this site to get your weather-forecast.</p>
         <form>
            <div class="search_bar">&#x1F50E
            <input class="search_input" type="text" placeholder="Search location" required >
            </div>
            <button>Search</button>
        </form>
       <div id="messages">
           <p id="message-1"></p>
            <div id="forecast">
                <p id="message-2"></p>
                <p id="message-3"></p>
                <p id="message-4"></p>
                <p id="message-5"></p>
            </div>
       </div>

    </div>
    
    {{>footer}}

</body>

    <script type="text/javascript" src="/js/app.js"></script>
</head>

</html>