body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;      /*vh stands for viewport height */
}

.content{
    flex-grow: 1;
}

footer{
    /* background: rgb(154, 154, 245); */
    
    margin-top: 15px;
    padding: 16px 0;
    color: #888888;
    border-top: 1px solid #eeeeee;
}

header{
    margin: 16px 0 48px 0;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input{
    border: 2px solid #cccccc;
    padding: 8px;
    border-radius: 5px;

}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    border-radius: 5px;
}